<nav class="navbar">

  <div class="logo">
    ✈️ ADMIN
  </div>

  <ul>

    <!-- ================================= -->
    <!-- CONSULTA VUELO -->
    <!-- ================================= -->

    <li>
      <a routerLink="/admin/consulta-vuelo">
        Consulta Vuelo
      </a>
    </li>

    <!-- ================================= -->
    <!-- CONSULTA VUELOS -->
    <!-- ================================= -->

    <li>
      <a routerLink="/admin/consulta-vuelos">
        Consulta Vuelos
      </a>
    </li>

    <!-- ================================= -->
    <!-- CONSULTA AEROLÍNEAS -->
    <!-- ================================= -->

    <li>
      <a routerLink="/admin/consulta-aerolineas">
        Aerolíneas
      </a>
    </li>

    <!-- ================================= -->
    <!-- CONSULTA AVIONES -->
    <!-- ================================= -->

    <li>
      <a routerLink="/admin/consulta-aviones">
        Aviones
      </a>
    </li>

    <!-- ================================= -->
    <!-- CONSULTA PASAJEROS -->
    <!-- ================================= -->

    <li>
      <a routerLink="/admin/consulta-pasajeros-vuelo">
        Pasajeros
      </a>
    </li>

    <!-- ================================= -->
    <!-- CONSULTA DESTINOS -->
    <!-- ================================= -->

    <li>
      <a routerLink="/admin/consulta-destinos">
        Destinos
      </a>
    </li>

    <!-- ================================= -->
    <!-- CONSULTA EQUIPAJE -->
    <!-- ================================= -->

    <li>
      <a routerLink="/admin/consulta-equipaje">
        Equipaje
      </a>
    </li>

    <!-- ================================= -->
    <!-- CERRAR SESIÓN -->
    <!-- ================================= -->

    <li>
      <a routerLink="/">
        Salir
      </a>
    </li>

  </ul>

</nav>

<div class="contenido">

  <router-outlet></router-outlet>

</div>
