<div class="layout">

  <!-- ================================= -->
  <!-- NAVBAR -->
  <!-- ================================= -->

  <nav class="navbar">

    <div class="logo">
      ✈️ USER
    </div>

    <ul class="menu">

      <!-- ================================= -->
      <!-- ABORDAJE -->
      <!-- ================================= -->

      <li>
        <a routerLink="/user/abordaje">
          Abordaje
        </a>
      </li>

      <!-- ================================= -->
      <!-- CREAR TRIPULACIÓN -->
      <!-- ================================= -->

      <li>
        <a routerLink="/user/crear-tripulacion">
          Tripulación
        </a>
      </li>

      <!-- ================================= -->
      <!-- AGREGAR VUELO -->
      <!-- ================================= -->

      <li>
        <a routerLink="/user/crear-vuelo">
          Agregar Vuelo
        </a>
      </li>

      <!-- ================================= -->
      <!-- CERRAR SESIÓN -->
      <!-- ================================= -->

      <li>
        <a (click)="logout()" style="cursor: pointer;">
          Salir
        </a>
      </li>

    </ul>

  </nav>

  <!-- ================================= -->
  <!-- CONTENIDO -->
  <!-- ================================= -->

  <main class="contenido">

    <router-outlet></router-outlet>

  </main>

</div>
