<div class="plane-container" *ngIf="seats.length > 0">
  <h2>Selecciona tus asientaoeudhtnaoeudhtnaoeudhtnaueoos - Avión {{configAvion?.idAvion}}</h2>

  <div class="cabin">
    <div *ngFor="let row of seats; let i = index" class="seat-row">
      <span class="row-number">{{ i + 1 }}</span>

      <div 
        *ngFor="let seat of row" 
        class="seat"
        [ngClass]="{
          'occupied': seat.occupied,
          'selected': seat.selected,
          'vip': seat.categoria === 'EJECUTIVA'
        }"
        (click)="selectSeat(seat)">
        {{ seat.label }}
      </div>
    </div>
  </div>

  <div class="actions">
    <button (click)="confirmSelection()" class="btn-confirm">
      Confirmar Selección222
    </button>
  </div>
</div>