<div class="contenedor">

  <div class="card">
    <h2>Consulta de Equipaje Por Vuelo</h2>

    <div class="filtros">
      <div class="campo">
        <label>Número de Vuelo</label>
        <input
          type="text"
          placeholder="Ingrese número de vuelo"
          [(ngModel)]="numeroVuelo"
        />
      </div>
    </div>

    <div class="botones">
      <button
        class="btn buscar"
        (click)="buscarEquipaje()">
        Buscar
      </button>

      <button
        class="btn limpiar"
        (click)="limpiarFiltros()">
        Limpiar
      </button>

      <button
        class="btn nueva"
        (click)="nuevaConsulta()">
        Nueva Consulta
      </button>
    </div>
  </div>

  <div
    class="tabla-card"
    *ngIf="consultaRealizada && equipajes.length > 0">

    <h3>Resultados de la Consulta</h3>

    <table>
      <thead>
      <tr>
        <th>Nombre del Pasajero</th>
        <th>Maleta</th>
        <th>Peso</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let equipaje of equipajes">
        <td>{{ equipaje.pasajero }}</td>
        <td>{{ equipaje.maleta }}</td>
        <!-- Agregamos 'kg' aquí ya que el backend envía un número -->
        <td>{{ equipaje.peso }} kg</td>
      </tr>
      </tbody>
    </table>

    <div class="acciones-tabla">
      <button
        class="btn pdf"
        (click)="imprimirPDF()">
        IMPRIMIR PDF
      </button>

      <button
        class="btn excel"
        (click)="exportarExcel()">
        EXPORTAR EXCEL
      </button>
    </div>
  </div>
</div>