<div class="contenedor">

  <h1>Agregar Vuelo</h1>

  <!-- PASO 1 -->
  <div
    *ngIf="pasoActual === 1"
    class="card">

    <h2>Información del Vuelo</h2>

    <div class="grid">

      <!-- AEROPUERTO SALIDA -->
      <div>

        <label>Aeropuerto Salida</label>

        <select [(ngModel)]="vuelo.aeropuertoSalida">

          <option value="">
            Seleccione aeropuerto
          </option>

          <option
            *ngFor="let aeropuerto of aeropuertos"
            [value]="aeropuerto.id">

            {{ aeropuerto.labelCompleto}}

          </option>

        </select>

      </div>

      <!-- AEROPUERTO LLEGADA -->
      <div>

        <label>Aeropuerto Llegada</label>

        <select [(ngModel)]="vuelo.aeropuertoLlegada">

          <option value="">
            Seleccione aeropuerto
          </option>

          <option
            *ngFor="let aeropuerto of aeropuertos"
            [value]="aeropuerto.id">

            {{ aeropuerto.labelCompleto }}

          </option>

        </select>

      </div>

      <!-- FECHA SALIDA -->
      <div>

        <label>Fecha Salida</label>

        <input
          type="date"
          [(ngModel)]="vuelo.fechaSalida">

      </div>

      <!-- HORA SALIDA -->
      <div>

        <label>Hora Salida</label>

        <input
          type="time"
          [(ngModel)]="vuelo.horaSalida">

      </div>

      <!-- FECHA LLEGADA -->
      <div>

        <label>Fecha Llegada</label>

        <input
          type="date"
          [(ngModel)]="vuelo.fechaLlegada">

      </div>

      <!-- HORA LLEGADA -->
      <div>

        <label>Hora Llegada</label>

        <input
          type="time"
          [(ngModel)]="vuelo.horaLlegada">

      </div>

    </div>

    <div class="acciones">

      <button
        class="btn cancelar"
        (click)="cancelar()">

        Cancelar

      </button>

      <button
        class="btn"
        (click)="siguientePaso()">

        Siguiente

      </button>

    </div>

  </div>

  <!-- PASO 2 -->
  <div *ngIf="pasoActual === 2" class="contenedor-aviones">

    <h2>
      Seleccionar Avión
    </h2>

    <div
      *ngFor="let avion of avionesDisponibles"
      class="card-avion"
      [class.seleccionado]="
      vuelo.avionSeleccionado === avion.avionId
    "
      (click)="seleccionarAvion(avion.avionId)"
    >

      <h3>
        {{ avion.modeloAvion.nombre }}
      </h3>

      <p>
        <strong>Marca:</strong>
        {{ avion.marca }}
      </p>

      <p>
        <strong>Año:</strong>
        {{ avion.ano }}
      </p>

      <p>
        <strong>Estado:</strong>
        {{ avion.estado }}
      </p>

      <p>
        <strong>Clase Económica:</strong>
        {{ avion.cantAsientosEconomica }}
        asientos
      </p>

      <p>
        <strong>Clase Ejecutiva:</strong>
        {{ avion.cantAsientosEjecutiva }}
        asientos
      </p>

    </div>

    <div class="precios">

      <label>
        Precio Clase Económica
      </label>

      <input
        type="number"
        [(ngModel)]="vuelo.precioEconomica"
        placeholder="Ingrese precio"
      >

      <label>
        Precio Clase Ejecutiva
      </label>

      <input
        type="number"
        [(ngModel)]="vuelo.precioEjecutiva"
        placeholder="Ingrese precio"
      >

    </div>

    <div class="acciones">

      <button
        class="btn cancelar"
        (click)="cancelar()"
      >
        Cancelar
      </button>

      <button
        class="btn siguiente"
        (click)="irTripulacion()"
      >
        Siguiente
      </button>

    </div>

  </div>

  <!-- PASO 3 -->
  <div
    *ngIf="pasoActual === 3"
    class="card">

    <h2>Seleccionar Tripulación</h2>

    <div
      class="tripulante-card"
      *ngFor="let tripulante of tripulantesDisponibles"
    >

      <label>

        <input
          type="checkbox"

          [checked]="
        vuelo.tripulacion.includes(
          tripulante.personalTripulacionId
        )
      "

          (change)="
        toggleTripulante(
          tripulante.personalTripulacionId
        )
      "
        />

        <strong>
          {{ tripulante.nombre }}
        </strong>

        -

        {{ tripulante.rol?.nombreRol }}

      </label>

    </div>

    <div class="acciones">

      <button
        class="btn cancelar"
        (click)="nuevoVuelo()">

        Cancelar

      </button>

      <button
        class="btn guardar"
        (click)="guardarVuelo()">

        Guardar Vuelo

      </button>

    </div>

  </div>

</div>
